[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
click = "==6.6"
gunicorn = "==19.9.0"
itsdangerous = "==0.24"
psycopg2 = "==2.8.5"
pylibmc = "==1.5.2"
safety = "*"
marvelous = {file = "https://github.com/rkuykendall/marvelous/archive/toyg.zip"}
Flask-Cors = "==3.0.3"
Flask-Heroku-Cacheify = {file = "https://github.com/toyg/flask-heroku-cacheify/archive/master.zip"}
Flask = "==0.12.3"
Jinja2 = "==2.10.1"
MarkupSafe = "==0.23"
Werkzeug = "==0.15.2"

[dev-packages]

[requires]
python_version = "3.9"
